<!DOCTYPE html>
<html>
<head>
	<title>Job Tracker</title>
</head>
<body>
	<h1>Jobs</h1>
	{% if current_job %}
		{{ current_job[0] }}
		<form method="post">
		<input type="text" name="company" value="{{ current_job[0] }}"> <br>
		<input type="url" name="url" value={{ current_job[1] }}><br>
		<textarea name="notes" cols="30" rows="10">{{ current_job[5] }}</textarea>
		<select name="status">
			{% for i, opt in [(1, "nothin"), (2, "applied"), (3,"phone"), (4,"onsite"), (5, "offer"), (9, "rejected")] %}
				{% if current_job[3] == i %}
					<option selected value="{{ i }}">
						{{ opt }}
					</option>
				{% else %}
					<option value="{{ i }}">
						{{ opt }}
					</option>
				{% endif %}
			{% endfor %}
			<option value="9">
				rejected
			</option>
		</select><br>
		<input type="hidden" name="prev-status" value="{{ current_job[3] }}">
		<button type="submit">
			Save
		</button>
	</form>
	{% else %}
		<form action="/jobs" method="post">
			<label for="company">Company</label>
			<input type="text" name="company"> <br>
			<label for="url">URL</label>
			<input type="url" name="url"><br>
			<label for="notes">Notes</label><br>
			<textarea name="notes" cols="30" rows="10"></textarea> <br>
			<label for="status">Status</label>
			<select name="status">
				{% for i, opt in [(1, "nothin"), (2, "applied"), (3,"phone"), (4,"onsite"), (5, "offer"), (9, "rejected")] %}
					<option value="{{ i }}">
						{{ opt }}
					</option>
				{% endfor %}
				<option value="9">
					rejected
				</option>
			</select><br>
			<button type="submit">
				Save
			</button>
		</form>
	{% endif %}
	<div>
		<table>
			<thead>
				<th>Name</th>
				<th>URL</th>
				<th>ID</th>
				<th>Status</th>
				<th>Date Applied</th>
			</thead>
			<tbody>
				{% for job in jobs %}
					<tr>
						{% for dat in job %}
							<td><a href="/jobs/{{ job[2] }}/edit">{{ dat }}</a></td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>
</body>
</html>