<!DOCTYPE html>
<html>
<head>
	<title>Job Tracker</title>
</head>
<body>
	<h1>Jobs</h1>
	{% if current_job %}
		<form method="post">
		<input type="text" name="company" value={{ current_job[0] }}> <br>
		<input type="url" name="url" value={{ current_job[1] }}><br>
		<select name="status">
			<option selected value="1">
				nothin
			</option>
			<option value="2">
				applied
			</option>
			<option value="3">
				phone
			</option>
			<option value="4">
				onsite
			</option>
			<option value="5">
				offer
			</option>
			<option value="9">
				rejected
			</option>
		</select><br>
		<button type="submit">
			Save
		</button>

	</form>
	{% else %}
		<form action="/jobs" method="post">
			<input type="text" name="company"> <br>
			<input type="url" name="url"><br>
			<select name="status">
				<option selected value="1">
					nothin
				</option>
				<option value="2">
					applied
				</option>
				<option value="3">
					phone
				</option>
				<option value="4">
					onsite
				</option>
				<option value="5">
					offer
				</option>
				<option value="9">
					rejected
				</option>
			</select><br>
			<button type="submit">
				Save
			</button>

		</form>
	{% endif %}
	<div>
		{% for job in jobs %}
			<p>{{ job }}</p>
		{% endfor %}
	</div>
</body>
</html>